@charset "utf-8";
/* CSS Document */

/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  padding-top: 3.5rem;
}

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.mb-6, .my-6 {
    margin-bottom: 2rem!important;
}
.tk-02{
	margin-left: 8px;
}
.color{
	color:#fff;
}
.color2{
	color: #cb9a43;
}

.k-display{
	    font-size: 2.5rem;
    font-weight: 300;
    line-height: 1.2;

}



.k-display2{
	    font-size: 5rem;
    font-weight: 600;
    line-height: 1.2;

}

.bg-custom
{
	background-color: #191919;
	padding: 20px;
	margin-top:-40px;
}